*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

#Device{
	width: 1024px;
	height: 600px;
	border: 10px solid grey;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -512px;
	margin-top: -300px;
	overflow: hidden;
	padding: 2em; 
}

li{
	width: 300px;
	font-size: 1.2em;
	padding: 5px;
	border: 1px solid black;
	list-style: none;
}

#List2{
	float: right;
}
#List1{
	float: left;
}

#NeedToShop, #InCart{
	border: 1px solid black;
	min-height: 20px;
	padding-top: 5px;
	width: 300px;

}

.green{
	color: white;
	background-color: #00B16A;
}

.red{
	color: white;
	background-color: #C0392B;
}